
 <div class="container py-5">
      <div class="col-6 text-center">
        <%= image_tag("Rick_et_Bender.jpg", alt: "BenderRick", class:"img_team1",style: "width:80%;") %>
        <h4 class="text-center py-2"><strong>Rick Sanchez and Bender Rodriguez</strong></h4>
        <p>L'un a une personnalité arrogante et sarcastique, et il est souvent motivé par son désir d'argent, de boisson et de débauche.
         L'autre est un scientifique brillant mais aussi un alcoolique notoire, qui utilise son intelligence pour voyager à travers l'univers et explorer différentes dimensions.
         A eux deux ils forment la team Crackers !!! 
        </p>

    </div>
  </div>
  <p>lien pour les contacter :<%= link_to "ici", contact_path %>
</p>
