<main class= "container">
<h6 class="display-4">Formulaire pour "Pleurnicheur.se blessé.e" </h6>

<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Ecris nous tes malheurs ici</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>options...</option>
    <option value="1">je suis pas content</option>
    <option value="2">je n'ai pas le sens de l'humour</option>
    <option value="3">je n'ai rien de mieux a faire</option>
  </select>

  <div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input type="checkbox" class="custom-control-input" id="customControlInline">
    <label class="custom-control-label" for="customControlInline">c'est mon dernier mot</label>
  </div>

  <button type="submit" class="btn btn-primary my-1">Envoyer</button>
</form>
</main>